
#vervaite {
    font-family: 'PT Sans', Tahoma, sans-serif;
    font-size: 18px;
    color: darkcyan;
    font-weight: bold;
}

span{
    color: darkcyan;
	font-weight:bold;
	font-size:1.2em;

}
#forever,#final{
    color: darkcyan;
    font-size: 18px;
}

#forever2{
    color: darkorange;
    font-size: 30px;
}

h1{
    color: darkorange;
}
img{
 max-width: 100%;
 height: auto;
 }
