<div class="main-content">
    <h1 class="main-content-title">Нашата скромна компания</h1>
<section class="team-member">
    <figure id="img-member-one">
        <img src="../img/team-img/fetko1977.png" alt="Светослав Савов"/>
        <figcaption><p>Светльо - 37 год.</p></figcaption>
    </figure>
    <a href="#">За него...</a>
</section>
<section class="team-member">
    <figure id="img-member-two">
        <img src="../img/team-img/fetko1977.png" alt="Светослав Савов"/>
        <figcaption><p>Светльо - 37 год.</p></figcaption>
    </figure>
    <a href="#">За него...</a>
</section>
</div>

