<section id="team-member-interview">
    <header>
        <h1>Светослав Савов</h1>
    </header>
    <img src="../img/team-img/fetko1977.png">
    <article>
        <p class="bold">SoftFunny</p>
        <p class="question">Как се казвате?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Светослав Първанов Савов</p>
        <p class="bold">SoftFunny</p>
        <p class="question">На колко сте години?</p>
        <p class="bold">Светослав</p>
        <p class="answer">На 37 съм, макар и да не ми се иска.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">От колко време се занимавате с ИТ?</p>
        <p class="bold">Светослав</p>
        <p class="answer">От вчера вечерта, изтеглих едно гадно домашно по CSS от сайта на Софтуни...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Софтуни?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Мисля, че са свестни хора но с тая бета взеха да ме дразнят много. Тия дни се чудех кога ще пуснат нормална версия...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Светлин Наков?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Ами ще се въздържа от отговор, за да не гризна дебелия...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ви е любимият програмен език?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Трудно е да се отговори на този въпрос, защото всичките са отвратителни...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Android телефон или IOS телефон предпочитате?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Android...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Първите две...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="bold">Светослав</p>
        <p class="answer">ФИФА...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво бихте пожелали на феновете на Софтфъни?</p>
        <p class="bold">Светослав</p>
        <p class="answer">Никога да не натискат F12, когато са отворили сайта ни през любимият си браузър за да не се отчаят напълно...</p>
     </article>
</section>