<section class="team-member-interview">
    <header>
        <h1>Светослав Савов</h1>
    </header>
    <img src="../img/team-img/fetko1977.png">
    <article>
        <p class="question"><strong>SoftFunny: </strong>Как се казвате?</p>
        <p class="answer"><strong>Светослав:</strong>Светослав Първанов Савов</p>
        <p class="question"><strong>SoftFunny: </strong>На колко сте години?</p>
        <p class="answer"><strong>Светослав:</strong>На 37 съм, макар и да не ми се иска.</p>
        <p class="question"><strong>SoftFunny: </strong>От къде сте?</p>
        <p class="answer"><strong>Светослав:</strong>От Русе.</p>
        <p class="question"><strong>SoftFunny: </strong>От колко време се занимавате с ИТ?</p>
        <p class="answer"><strong>Светослав:</strong>От вчера вечерта, изтеглих едно гадно домашно по CSS от сайта на Софтуни...</p>
        <p class="question"><strong>SoftFunny: </strong>Какво мислите за Софтуни?</p>
        <p class="answer"><strong>Светослав:</strong>Мисля, че са свестни хора но с тая бета взеха да ме дразнят много. Тия дни се чудех кога ще пуснат нормална версия...</p>
        <p class="question"><strong>SoftFunny: </strong>Какво мислите за Светлин Наков?</p>
        <p class="answer"><strong>Светослав:</strong>Ами ще се въздържа от отговор, за да не гризна дебелия...</p>
        <p class="question"><strong>SoftFunny: </strong>Кой ви е любимият програмен език?</p>
        <p class="answer"><strong>Светослав:</strong>Трудно е да се отговори на този въпрос, защото всичките са отвратителни...</p>
        <p class="question"><strong>SoftFunny: </strong>Android телефон или IOS телефон предпочитате?</p>
        <p class="answer"><strong>Светослав:</strong>Android...</p>
        <p class="question"><strong>SoftFunny: </strong>Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="answer"><strong>Светослав:</strong>Първите две...</p>
        <p class="question"><strong>SoftFunny: </strong>Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="answer"><strong>Светослав:</strong>ФИФА...</p>
        <p class="question"><strong>SoftFunny: </strong>Какво бихте пожелали на феновете на SoftFunny?</p>
        <p class="answer"><strong>Светослав:</strong>Никога да не натискат F12, когато са отворили сайта ни през любимият си браузър за да не се отчаят напълно...</p>
     </article>
</section>