
<h1 class="main-content-title">Нашата скромна компания</h1>
<section class="team-member">

    <figure id="img-member-one">

        <img src="../img/team-img/flyer.png" alt="Карим Христов"/>

        <figcaption><p>Карим - 24 год.</p></figcaption>

    </figure>

    <a href="#">За него...</a>

</section>

<section class="team-member">

    <figure id="img-member-one">

        <img src="../img/team-img/ttitto.png" alt="Тодор Тодоров"/>

        <figcaption><p>Тодор - 35 год.</p></figcaption>

    </figure>

    <a href="#">За него...</a>

</section>

<section class="team-member">

    <figure id="img-member-one">

        <img src="../img/team-img/boris.png" alt="Борис Павлов"/>

        <figcaption><p>Борис - 42 год.</p></figcaption>

    </figure>

    <a href="#">За него...</a>

</section>

<section class="team-member">

    <figure id="img-member-two">

        <img src="../img/team-img/yavor.png" alt="Явор Тодоров"/>

        <figcaption><p>Явор - 33 год.</p></figcaption>

    </figure>

    <a href="#">За него...</a>

</section>

<section class="team-member">

    <figure id="img-member-two">

        <img src="../img/team-img/fetko1977.png" alt="Светослав Савов"/>

        <figcaption><p>Светльо - 37 год.</p></figcaption>

    </figure>

    <a href="#">За него...</a>

</section>



