<section class="main-content team">
    <header>
        <h1>Тодор Тодоров</h1>
    </header>
    <article>
        <img src="../img/team-img/ttitto.png" alt="Тодор Тодоров" class="right"/>
        <p class="bold">SoftFunny</p>
        <p class="question">Как се казвате?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Тодор Тодоров</p>
        <p class="bold">SoftFunny</p>
        <p class="question">На колко сте години?</p>
        <p class="bold">Тодор</p>
        <p class="answer">На 35.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">От колко време се занимавате с ИТ?</p>
        <p class="bold">Тодор</p>
        <p class="answer">От 1 година.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Софтуни?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Единственото място, където човек може да учи само това, което ще му бъде полезно и може да сертифицира знанията си с призната диплома.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Светлин Наков?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Невероятен вдъхновител.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ви е любимият програмен език?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Харесва ми да пиша на Java, защото е малко по-труден от C# и изисква повечко тарикатлъци. Писал съм макроси на VBA за ексел, но това е много грозна работа. За другите езици имам само бегла представа засега и не мога да дам мнение.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Android телефон или IOS телефон предпочитате?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Не обичам многофункционални мобилни телефони. Според мен с един телефон трябва да можеш да се обадиш, да вдигнеш като те търсят, да има часовник с будилник и вибрации. Всичко останало е напълно излишно.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Windows.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Аз, защото няма да съм си изгубил времето да го гледам.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво бихте пожелали на феновете на Софтфъни?</p>
        <p class="bold">Тодор</p>
        <p class="answer">Да не приемат девизът "Keep calm and learn to code" прекалено дословно, защото той подтиква към пасивност. Човек трябва да е нащрек във всеки един момент и да реагира при всяка нередност. </p>
     </article>
</section>