<section class="main-content team">
    <header>
        <h1>Явор Тодоров</h1>
    </header>
    <article>
        <img src="../img/team-img/yavor.png" alt="Борис Павлов" class="right"/>
        <p class="bold">SoftFunny</p>
        <p class="question">Как се казвате?</p>
        <p class="bold">Явор</p>
        <p class="answer">Явор Димитров Тодоров</p>
        <p class="bold">SoftFunny</p>
        <p class="question">На колко сте години?</p>
        <p class="bold">Явор</p>
        <p class="answer">На 32 съм</p>
        <p class="bold">SoftFunny</p>
        <p class="question">От колко време се занимавате с ИТ?</p>
        <p class="bold">Явор</p>
        <p class="answer">6 години.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Софтуни?</p>
        <p class="bold">Явор</p>
        <p class="answer">Много ми допада идеята най-накрая да има място кадето човек  може да получи качествени и конкуретни знания в областа на програмието, за което правя голям поклон на екипа.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Светлин Наков?</p>
        <p class="bold">Явор</p>
        <p class="answer">Голям е!</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ви е любимият програмен език?</p>
        <p class="bold">Явор</p>
        <p class="answer">Имайки предвид факта, че преди няколко месеца се сблъсках с програмине…,но може би Java.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Android телефон или IOS телефон предпочитате?</p>
        <p class="bold">Явор</p>
        <p class="answer">Android.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="bold">Явор</p>
        <p class="answer">Windows.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="bold">Явор</p>
        <p class="answer">Селесао</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво бихте пожелали на феновете на Софтфъни?</p>
        <p class="bold">Явор</p>
        <p class="answer">Да се забавляват.</p>
     </article>
</section>