<section class="main-content team">
    <header>
        <h1>Карим Христов</h1>
    </header>
    <article>
        <img src="../img/team-img/flyer.png" alt="Карим Христов" class="right"/>
        <p class="bold">SoftFunny</p>
        <p class="question">Как се казвате?</p>
        <p class="bold">Карим</p>
        <p class="answer">Карим Христов</p>
        <p class="bold">SoftFunny</p>
        <p class="question">На колко сте години?</p>
        <p class="bold">Карим</p>
        <p class="answer">24.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">От колко време се занимавате с ИТ?</p>
        <p class="bold">Карим</p>
        <p class="answer">В истинския смисъл от 10-ти клас. Общи неща свързани с компютър от 12 годишен.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Софтуни?</p>
        <p class="bold">Карим</p>
        <p class="answer">Едно от малкото места в България, където може да се научи нещо, което да е полезно впоследствие, и абсолютно необходимо място за нуждите на индустрията в момента.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Светлин Наков?</p>
        <p class="bold">Карим</p>
        <p class="answer">Наков е Вдъхновител. Това е най-точната дума с която мога да го опиша. Радвам се, че все пак има хора мислещи за общото благо, а не егоисти мотивирани само от лични интереси. Личности като него връщат вярата ми в обществото.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ви е любимият програмен език?</p>
        <p class="bold">Карим</p>
        <p class="answer">C#, с който започнах да навлизам в програмния свят. Културен и прятен език за писане на код и определено много подходящ избор за начинаещи.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Android телефон или IOS телефон предпочитате?</p>
        <p class="bold">Карим</p>
        <p class="answer">Винаги съм се чудел на драмите, които се развиват при избора на телефон и съответните им разнообразни модели. Аз лично използвам телефона си като телефон, и ме интересува той да работи добре като такъв, без значение от марката.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="bold">Карим</p>
        <p class="answer">Бих пробвал всичките. В префесионален аспект винаги е добре да се научи нещо, което се използва от много хора. Въпреки това за лични нужди използвам и ще използвам предимно Windows.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="bold">Карим</p>
        <p class="answer">Не гледам и не се интересувам от футбол, но предполагам този, който е дал повече пари.. каквото и да означава това.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво бихте пожелали на феновете на Софтфъни?</p>
        <p class="bold">Карим</p>
        <p class="answer">Да работят здраво за това да станат добри и кадърни професионалисти с много фенове, а не посредствени кодери с 0 почитатели .</p>
     </article>
</section>