<section class="main-content team">
    <header>
        <h1>Борис Павлов</h1>
    </header>
    <article class="team-member-interview">
        <img src="../img/team-img/boris.png" alt="Борис Павлов" class="right"/>
        <p class="bold">SoftFunny</p>
        <p class="question">Как се казвате?</p>
        <p class="bold">Борис</p>
        <p class="answer">Борис</p>
        <p class="bold">SoftFunny</p>
        <p class="question">На колко сте години?</p>
        <p class="bold">Борис</p>
        <p class="answer">Студентска възраст, наближавам 43 ;)</p>
        <p class="bold">SoftFunny</p>
        <p class="question">От колко време се занимавате с ИТ?</p>
        <p class="bold">Борис</p>
        <p class="answer">Все още съм супер-потребител.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Софтуни?</p>
        <p class="bold">Борис</p>
        <p class="answer">Мисля, че е като високоскоростен влак,  в който понякога има и Wi-Fi .</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво мислите за Светлин Наков?</p>
        <p class="bold">Борис</p>
        <p class="answer">Имате предвид нашият Гуру?</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ви е любимият програмен език?</p>
        <p class="bold">Борис</p>
        <p class="answer">За момента всеки, който е Basic.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Android телефон или IOS телефон предпочитате?</p>
        <p class="bold">Борис</p>
        <p class="answer">Android...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Windows, Linux или Macintosh бихте си инсталирали на личният компютър?</p>
        <p class="bold">Борис</p>
        <p class="answer">Първите две...</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Кой ще стане световен шампион по футбол в Бразилия 2014?</p>
        <p class="bold">Борис</p>
        <p class="answer">Германия.</p>
        <p class="bold">SoftFunny</p>
        <p class="question">Какво бихте пожелали на феновете на Софтфъни?</p>
        <p class="bold">Борис</p>
        <p class="answer">Да четат редовно вицовете за програмисти.</p>
     </article>
</section>