<section class="main-content team">
    <header>
    <h1>Нашата скромна компания</h1>
    </header>
        <figure>
            <img src="../img/team-img/flyer.png" alt="Карим Христов"/>
            <figcaption>Карим - 23 год.<a href="#">За него...</a></figcaption>
        </figure>
        
        <figure>
            <img src="../img/team-img/ttitto.png" alt="Тодор Тодоров"/>
            <figcaption>Тодор - 35 год.<a href="#">За него...</a></figcaption>
        </figure>
        
        <figure>
            <img src="../img/team-img/boris.png" alt="Борис Павлов"/>
            <figcaption>Борис - 42 год.<a href="/about-boris-pavlov">За него...</a></figcaption>
        </figure>
        
        <figure>
            <img src="../img/team-img/yavor.png" alt="Явор Тодоров"/>
            <figcaption>Явор - 33 год.<a href="/about-yavor-todorov">За него...</a></figcaption>
        </figure>
        
        <figure>
            <img src="../img/team-img/fetko1977.png" alt="Светослав Савов"/>
            <figcaption>Светльо - 37 год.<a href="/about-svetoslav-savov">За него...</a></figcaption>
        </figure>
    
</section>