<aside class="main-aside">
    <header class="aside-header">
        <h1>Категории</h1>
    </header>
    <nav class="aside-nav">
        <ul>
            <li><a href="http://i.softuni-friends.org/jokes">Бисери</a>
            </li>
            <li><a href="http://i.softuni-friends.org/pictures">Картинки</a>
            </li>
            <li><a href="http://i.softuni-friends.org/video">Видео</a>
            </li>
            <li><a href="http://i.softuni-friends.org/piblications">Публикации</a>
            </li>
        </ul>
    </nav>
</aside>