<form class="formee" method="post" action="contacts">
    <fieldset>
        <legend>Контакти</legend>

        <div class="grid-6-12">
            <input type="text" name="about" id="about" placeholder="Относно...">
        </div>

        <div class="grid-9-12 clear">
            <textarea id="contacts" name="contacts" placeholder="Съобщение..."></textarea>
        </div>

        <div class="grid-12-12 clear">
            <input type="button" name="send" id="message" value="Прати" onclick="contactsValidation()">
        </div>
    </fieldset>
</form>