<!doctype html>
<html lang="bg">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link href="http://i.softuni-friends.org/css/style.css" rel="stylesheet" type="text/css">
        <link href="http://i.softuni-friends.org/css/form.css" rel="stylesheet" type="text/css">
        <script src="http://i.softuni-friends.org/js/script.js"></script>
        <title>Soft Funny</title>
    </head>
    <body id="page">
        <header class="main-header">
            <a href="/" title="SoftFunny"><img src="http://i.softuni-friends.org/img/logo.png" title="SoftFunny" alt="SoftFunny Logo" class="logo"></a>
            <nav class="main-nav">
                <ul id="menu">
                    <li><a href="/">Начало</a></li>
                    <li><a href="about">За нас</a></li>
                    <li><a href="paid">Обучения</a></li>
                    <li><a href="seminars">Семинари</a></li>
                    <li><a href="payments">Хонорари</a></li>
                    <li><a href="#">Форум</a></li>
                    <li><a href="contacts">Контакти</a></li>
                </ul>
                <div class="menu" onclick="show()">МЕНЮ</div>
            </nav>
        </header>
    <main>