<!--<section class="jokes">
    <header>
        <h1>Популярни бисери</h1>
    </header>

    <article class="post">
        <header class="post-header">
            <h2>Публикация</h2>
            <p class="post-info">Published:
                <time datetime="2014-06-12">12-06-2014</time>
            </p>
        </header>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <footer class="post-footer">
            <p>
                <small><a href="#" title="more">още...</a>
                </small>
            </p>
        </footer>
    </article>
</section>-->