<form class="formee" method="post" action="login">
    <fieldset>
        <legend>Вход</legend>
        
        <div class="grid-6-12 clear">
            <label for="user">Потребител</label>
            <input type="text" name="username" id="user">
        </div>

        <div class="grid-6-12 clear">
            <label for="pass1">Парола</label>
            <input type="password" name="pass1" id="pass">
        </div>
        
        <div class="grid-12-12 clear">
            <input type="submit" name="LOGIN" value="Влез">
        </div>
    </fieldset>
</form>