<section class="main-content paid">
    <header>
        <h1>Softfunny :: Платени услуги</h1>
    </header>

    <article>
        <p>Обученията в Софтуерния университет са практически насочени и
            съдържанието им се диктува от действащите фирми в индустрията.
            Последните се оглеждат за „свеж акъл“ и чакат с потекли лиги първия випуск.</p>
        <p>Все още обаче не са развързали кесиите и се налага обучаващите се сами да финансират
            Софтуни чрез различни платени услуги.</p>

        <figure>
            <img src="../img/paid-services.png" alt="paid services"/>
            <figcaption>СофтУни продава надежди</figcaption>
        </figure>
    
        <p>Студентите, подобно на пропадналите държавни университети,
            ще трябва да плащат и за явяване на поправителен изпит.
            Само че сумата, с която трябва да се разделят е малко по-голяма. Цели 50 лв.</p>
        
  
        <p>Една от последните хрумвания са за платен приемен изпит. Всеки студент, който бъде допуснат
            по документи до входящ изпит, трябва да заплати предварително явяването си на изпит.</p>
        
        <p>Курсисти, които не се интересуват от цялостно обучение могат да посетят ускорен курс по техен интерес.
            Те имат уникалната възможност да подкрепят Софтуни с  финансова инжекция равна на една семестриална
            такса.
        </p>
    </article>

</section>


