<main>
  
         <h1 class="main-content-title">SoftFunny :: Хонорари</h1>
		 <link rel="stylesheet" type="text/css" href="/css/style-seminari.css">


        <p>Бета версията на "SoftFunny" налага и специален подход към гостуващите лектори, които се наемат срещу хонорар.
            Техниките на внушение са успели да постигнат завиден успех и в този
            случай, като самите преподаватели активно се конкурират за някой от
            <span style="color:darkorange";>„хонорарите на Наков“</span>: </p>

        <p><span>„Ръкопляскане“</span> - кратко или по-дълго, в зависимост от размера на
            дължимия на хонорар.</p>

        <figure>
            <img src="/img/seminari/trainer-applause.jpg">
            <figcaption>Хонорар "Ръкопляскане"</figcaption>
        </figure>
         </br>

   
        <p><span>„Потупване по рамото“</span> - това е най-често използваното платежно
            средство във финансовата схема на Наков.
        </p>
        <figure>
            <img src="/img/seminari/trainer-shoulder.jpg">
            <figcaption>Хонорар "Потупване по рамото"</figcaption>

        </figure>

    <br/>

  
        <p>В редки случаи, особено когато Наков е в добро разстояние той раздава и финансови бонуси.
            При тях хонорара "Потуване по рамото" преминава в бонуса <span>„Прегръдка“</span>
        </p>
     <figure>
            <img src="/img/seminari/trainer-hug.jpg">
            <figcaption> Бонусът на Наков "Прегръдка" </figcaption>

        <p id="forever2"> SoftFunny - Everybody is happy :)</p>
        </figure><br/>

   



</main>
