<section class="main-content payments-content">
    <header>
        <h1>SoftFunny :: Хонорари</h1>
    </header>

    <article>
        <p>Бета версията на "SoftFunny" налага и специален подход към гостуващите лектори, които се наемат срещу хонорар.
            Техниките на внушение са успели да постигнат завиден успех и в този
            случай, като самите преподаватели активно се конкурират за някой от
            <span class="bold">„хонорарите на Наков“:</span> </p>
    </article>

    <article>
        <header>
            <h4><span>„Ръкопляскане“</span> - кратко или по-дълго, в зависимост от размера на
                дължимия на хонорар.</h4>
        </header>

        <figure>
            <img src="/img/seminari/trainer-applause.jpg">
            <figcaption>Хонорар "Ръкопляскане"</figcaption>
        </figure>
    </article>

    <article>
        <header>
            <h4>„Потупване по рамото“</h4>
        </header>
        <p>Tова е най-често използваното платежно средство във финансовата схема на Наков.</p><br/>

        <figure>
            <img src="/img/seminari/trainer-shoulder.jpg">
            <figcaption>Хонорар "Потупване по рамото"</figcaption>
        </figure>
    </article>

    <article>
        <header><h4>„Прегръдка“</h4></header>
        <p>В редки случаи, особено когато Наков е в добро разстояние той раздава и финансови бонуси. </p>
        <p>При тях хонорара "Потуване по рамото" преминава в специалния бонус</p>

        <figure>
            <img src="/img/seminari/trainer-hug.jpg">
            <figcaption> Бонусът на Наков "Прегръдка" </figcaption>
        </figure>
    </article>

    <footer><h3>SoftFunny - Everybody is happy :)</h3></footer>

</section>

