<form class="formee" method="post" action="register" onsubmit="return validate(this);">
    <fieldset>
        <legend>Регистрация</legend>
        <div class="grid-6-12">
            <label for="user">Потребител <em class="formee-req">*</em></label>
            <input type="text" name="username" id="user">
        </div>

        <div class="grid-6-12">
            <label for="email">Email</label>
            <input type="email" name="email" id="email">
        </div>

        <div class="grid-6-12 clear">
            <label for="pass1">Парола <em class="formee-req">*</em></label>
            <input type="password" name="pass1" id="pass">
        </div>

        <div class="grid-6-12">
            <label for="pass2">Потвр. парола <em class="formee-req">*</em></label>
            <input type="password" name="pass2" id="pass2">
        </div>

        <div class="grid-12-12 clear">
            <input type="submit" name="REGISTER" id="register" value="Регистрирай ме">
        </div>
    </fieldset>
</form>