<section class="jokes">
    <header>
    <h1>SoftFunny :: Семинари</h1>
    </header>
        <article>
            <p>Семинарите в "SoftFunny" са важна част от стратегията за бета–обучение.
                Те дават директна възможност на г-н Светлин Наков да въздейства психологически върху големи групи от студенти, които постепенно се превръщат във фанатични негови привърженици и последователи.
                За целта Наков използва различни техники за внушения в стил.</p>
            <p class="cyan-big">„Кашпировски“</p>
            <figure>
                <img src="/img/seminari/nakov-seminar.jpg">
                <figcaption><h3>Вервайте ми и кодът ще бъде винаги с вас !</h3>
                    <i>(Светлин Наков, семинар Боровец, 2014)</i></figcaption>
            </figure>
        </article>

        <article>
            <p>Чести са случаите, при които, в резултат на масовите психо-сеанси
                студенти са забелязани да изпадат в транс, като извършват действия,
                силно напомнящи поведението на членовете на „Бялото братство“ при
                посрещане на слънчевия изгрев.</p><br/>

            <figure>
                <img src="/img/seminari/strange-students.jpg">
                <figcaption><i>(Студенти, в състояние на транс.)</i></figcaption>

            </figure>
        <article>
            <p>Очевидци разказват, че до това състояние се достига чрез многократно
                повтаряне на древната мантра <span class="cyan-big">„na-kov”</span> и продължително взиране в
                прожектирано на екрана лого на "SoftFunny". Интересен е и фактът, че след
                тази дълга концентрация върху логото, съзнанието на студента започва да
                игнорира думичката <span class="cyan-big">„beta”</span>, като изцяло я замества с <span id="forever">„forever”.</span></p>

            <p id="final" > Това явно е и крайната цел на Наков ! </p><br/>

            <figure>
                <img src="/img/seminari/logos.png" id="logos">
            </figure><br/>
            <footer><h1>SoftFunny Forever !</h1></footer>
        </article>
</section>
