.left {
    float: left;
}
.right {
    float: right;
}
.left-field > div {
    float: left;
}
#content >section {
    height: 500px;
}

#content {
    text-align: center;
    width: 60%;
    margin: auto;
}
.field-text {
    margin-top: 20px;
    width: 300px;/**/
    height: 100px;
}
.right-field > div {
    float: right;


}


.footer-holder >footer {
    width: 400px;
    margin: auto;
}
.footer-holder {
    text-align: center;
    width: 100%;

}
#troll {
    float: left;
    width: 128px;
    border-radius: 20px;
    background-color: #FF9326;
}
#duck {
    float: left;
    width: 128px;
     border-radius: 20px;
    background-color: #73B9FF;
}
#owl {
    float: left;
    width: 128px;
    border-radius: 20px;
    background-color: greenyellow;
}
h1 {
    font-size: 1.5em;
    font-weight: normal;
    margin: 0;
}

div.bubble {
    position: relative;
    padding: 15px;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 60px auto;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;


}


div.thought {

    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

div.bubble:before, div.bubble:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

div.thought:before, div.thought:after {

    width: 40px;
    height: 40px;
    left: 50px;
    top: 120px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

div.thought:after {
    width: 20px;
    height: 20px;
    left: 50px;
    top: 145px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.avatars div {
    opacity: 0.2;
}
.avatars div:hover {
    opacity: 1;
}
.bubble {
    display: inline-block;
    visibility: hidden;
}
.talk-bubble {
    /*width: 120px;*/
    text-align: left;
    height: 100%;
    background: skyblue;
    position: relative;
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}
.talk-bubble:before {
    content:"";
    position: absolute;
    right: 100%;
    top: 26px;
    width: 0;
    height: 0;
    border-top: 13px solid transparent;
    border-right: 26px solid skyblue;
    border-bottom: 13px solid transparent;

}

.right-talk-bubble
{
    position: relative;
    text-align: left;
    float: right;
    width: 0;
    height: 100%;
    padding: 0px;
    background: green;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.right-talk-bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent green;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 45px;
}